$no-frills-menu-breakpoint: 840px;
$no-menu-breakpoint: 640px;

.site-menu {
    background: $colour_dark_grey;
    border-top: 4px solid $colour_red;

    ul {
        @include unstyled-list();
    }

    a {
        color: #fff;
    }
}
